:root {
  --white: #fff;
  --black: #000;
  --primary: #BFAA8C;
  --secondary: #7bc62d;
  --gray: #9e9e9e;
  --primaryfont: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--primaryfont);
  background: rgba(226, 226, 226, 0.5);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.full {
  width: 100%;
}

.button:hover {
  background-color: var(--secondary);
}

.title1, 
.title {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-family: var(--primaryfont);
  padding: 20px;
}

.title {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: var(--primary);
  padding: 35px
} 

.title span, 
.title1 span {
  font-size: 20px;
}

.nav-bg {
  background-color: var(--primary);
}

.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

.primary-nav a {
  display: block;
  color: var(--white);
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.primary-nav a:hover {
  background-color: var(--secondary);
  color: var(--black);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 100px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


.card-body {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .hero {
      background-repeat: no-repeat;
      background-size: cover;
      height: 450px;
      margin-bottom: 20px;
  }
}